body { 
	font-family: arial, sans-serif; 
	font-size: 100%; 
	color: black; 
	background-image: url(images/rr.png); 
	background-repeat: no-repeat; 
	background-position: center center; 
	background-attachment: fixed; 
	background-size: cover; 
} 

h1 {
   	border-top-left-radius: 50%;
   	border-top-right-radius: 50%;
   	border-bottom-right-radius: 50%;
   	border-bottom-left-radius: 50%;   	
	font-family: courier; 
	color: #6495ED; 
	background-color: #582383; 
	font-size: 1em; 
	margin: 0.1em; 
	margin-bottom: 0.3em; 
	padding: 0.5em; 
	font-style: bold, italic; 
	text-align: center; 
	letter-spacing: 0.7em; 

} 

h2 { 
	color: #6495ED; 
	background-color: #234; 
	font-size: 1.5em; 
	margin: 0; 
	text-align: center;
	padding: 0.1em; 
	padding-left: 1em; 
} 

h3 { 
	color: #6495ED; 
	font-size: 1.25em; 
} 

img { 
	border-style: dashed; 
	border-width: 2px; 
	border-color: #ccc; 
} 


table { 
 
	text-align: center;
	margin: auto;
}
